/* TASK 1 Design

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.widget {
  text-align: center;
}

.button {
  margin-top: 10px;
}
 */

/*  TASK 2 Design
 #keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
#calculator {
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
} */

/*Task 3*/
/* .modal-container {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  background-image: url("ball.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-image: url("stadium.png");
  background-repeat: no-repeat;
  background-size: cover;
} */
